@import "../../../common/styles/vars";

.container {
  position: relative;
  border-top: 1px solid $colorNeutral150;
  padding: 1rem 0;
  .main {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
