@import "../../../common/styles/vars";

.container {
  position: relative;
}
.hint {
  color: lightcoral;
}
.label {
  text-align: center;
}
.back {
  position: absolute;
  // top: 1.8rem;
  left: 2rem;
}
