@import "../../../common/styles/vars";

.red {
  color: $colorErrorPrimary;
  &:hover {
    color: $colorErrorPrimary;
  }
}
.white {
  color: $colorPrimary;
  &:hover {
    color: $colorPrimary;
  }
}
