@import "../../common/styles/vars";

.container {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}
.main {
  border: 1px solid $colorNeutral150;
  border-radius: $borderRadius200;
  padding: 2rem;
  width: 400px;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.block {
  height: 50%;
}
// .logo {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 2rem;
// }
