@import "../../../common/styles/vars";

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $colorNeutral150;
}
.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
