@import "../../../common/styles/vars";

.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.left {
  width: 40%;
}
.center {
  width: 320px;
}
.right {
  align-self: flex-start;
  padding: 1.5rem;
  width: 30%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-shadow: $boxShadow;
  border-radius: $borderRadius200;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  .regular {
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    color: $colorNeutral800;
  }
  .discount {
    font-style: italic;
    display: flex;
    align-items: center;
    color: $colorNeutral600;
    font-size: 1.5em;
    span {
      display: flex;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background: $colorNeutral600;
        position: absolute;
      }
    }
  }
}
.sale {
  margin-left: 1rem;
  background: $colorErrorSecondary;
  color: $colorErrorPrimary;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
}
.characteristic {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1rem;
  &:first-child {
    margin-top: 0;
  }
  div {
    position: relative;
    width: 50%;

    span {
      position: relative;
      display: inline;
      background: $colorNeutral100;
      padding-right: 5px;
    }
    &:first-child {
      &:before {
        border-bottom: 1px dotted $colorNeutral300;
        bottom: 0.2em;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
    &:last-child {
      padding-left: 5px;
    }
  }
}
.basket {
}
.basketButtons {
  display: flex;
  div {
    align-self: center;
    padding: 0 1rem;
  }
}
