@import "../../../app/common/styles/vars";

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.width {
  width: 700px;
  @media screen and (max-width: 800px) {
    width: 90%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productList {
  margin: 3rem 0;
  border-top: 1px solid $colorNeutral150;
  border-bottom: 1px solid $colorNeutral150;
}
.containerResult {
  & > div {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .result {
    p {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
